<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <title>Регистриция</title>
</head>
<body>
<h1>Авторизация</h1>
<div class="container">
    <form method="POST" class='center'>
        {% csrf_token %}
        
        <div class="form-group">
            <label for="username">логин</label>
            <input type="text" class="form-control" name="username" placeholder="Логин">
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" class="form-control" name="password" placeholder='пароль'>
        </div>
        
        {% comment %} показывает ошибки при вводе {% endcomment %}
        {% for message in messages %}
            <p id="messages">{{message}}</p> 
        {% endfor %}

        
        <button type="submit" class="btn btn-primary">Войти</button> 
    </form>
    <a href=" {% url 'register' %} ">Зарегестрироваться</a>
</div>  




</body>
</html>