{% extends 'menu/base.html' %}
{% load static %} 
{% block title %} Список всех блюд {% endblock  %}

{% block navbar %}{% include 'includes/navbar.html' %}{% endblock navbar %}
{% block sidebar %}{% include 'includes/sidebar.html' %}{% endblock sidebar %}
{% block content %}

<div class="row mt-3 pt-3 mb-3 d-flex flex-column sticky-top bg-light">
  <div class="col-12 mb-3">
    <form action="{% url 'filter' %}" method="get">
      <ul class="nav nav-tabs ">
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'all_dishes' %}">Все</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " aria-current="page" href="{% url 'show_all_bar' %}" >Напитки</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{% url 'kitchen' %}">Еда</a>
        </li>
      </ul>
    </form>
  </div>
  <div class="col col-12 mb-2">
    <form action="{% url 'search' %}" class="form-inline my-2 my-lg-0 d-flex justify-content-between sticky-top" method="get" >
      <input class="form-control mr-sm-2 w-75" type="search" placeholder="Поиск" aria-label="Поиск" name='search'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>
    </form> 
  </div>
</div>


<h4 class='text-left'>Всего позиций: {{menu_items.count}}</h4>
  {% for dish in menu_items %}
    <div class="card mb-3">
      <div class="row">
        {% if dish.image %} 
          <div class="col-md-4" style="max-width: 40rem; margin: auto;">
            <img src="{{ dish.image.url }}" alt="dish photo" class="card-img-top">
          </div>
        {% else %}
          <div class="col-md-4" style="max-width: 30rem; margin: auto;">
            <img src=" {% static 'menu/img/zaglushka.png' %} " alt="Нет" width="200" height="200">
          </div>
        {% endif %}

        <div class="col-md-8">
          <div class="card-body text-left">
            <h5 class="card-title text-capitalize">{{ dish.name }}</h5>
            <p class="card-text"><span class='font-weight-bold'>Cостав блюда:</span>
              {% for comp in dish.compound.all %} 
                 {{comp.name}}, 
                 {% endfor %}
                {% for comp in dish.compound.all %}
                {% if comp.compound.count > 0 %}<p><span class='font-weight-bold text-capitalize'>{{comp}}</span>: {% for comps in comp.compound.all %}{{comps}}, {% endfor %}</p> <hr>{% endif %}
              {% endfor %}
            </p>
            
            {% if dish.sauce.all.count > 0 %}
              <p class="card-text "><span class='font-weight-bold'>Состав заправки: </span>
                {% for comp in dish.sauce.all %}
                  {{comp}}
                  {% for comp in dish.sauce.all %}
                  {% if comp.compound.count > 0 %}<p><span class='font-weight-bold text-capitalize'>{{comp}}</span>: {% for comps in comp.compound.all %}{{comps}}, {% endfor %}</p><hr> {% endif %}
                  {% endfor %} 
                {% endfor %}
              </p> 
            {% endif %}
            {% if dish.description %}
              <p class="card-text"><span class='font-weight-bold text-capitalize'>Описание:</span><br> {{ dish.description }}</p>
            {% endif %}
            {% if  dish.weight %}
              <p class="card-text"><span class='font-weight-bold'>Выход блюда:</span> {{ dish.weight }} грамм</p>
            {% endif %}
            <p class="card-text"><small class="text-muted">Дата добавления {{ dish.create_date}} <br> Последнее обновление {{ dish.update_date}}</small></p>
          </div>
        </div>
        
      </div>
    </div>
  {% endfor %}  
{% endblock  %}