{% extends 'menu/base.html' %}

{% block title %}Регистрация{% endblock title %}
{% block navbar %}{% include 'includes/navbar.html' %}{% endblock navbar %}

{% block content %}
<h1>{{title}}</h1>

<form method="POST">
    {% csrf_token %}
    {% for field in form %}
        
        <div class="form-group">
            <label>{{field.label}}</label>
            {{field}}
        </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Регистрация</button>
</form>

{% endblock content %}