

{% comment %} ва овыифпрваипривыаивыавоытфиа ровыиароивыаи фвыиаоывфиаовыибтавфытафа {% endcomment %}


<nav class="container navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Пури-Пури</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Переключатель навигации">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse text-left" id="navbarSupportedContent">
    <ul class="navbar-nav b4-align mr-auto">
      {% if user.is_authenticated %}
        <li class="nav-item ">
          <a class="nav-link" href="{% url 'main' %}">Главная</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'all_dishes' %}">Все блюда</a>
        </li>
      {% if user.is_staff %}
      {% comment %} {% elif %} {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" href="/admin">Админ-панель</a>
        </li>
      {% endif %}
      {% endif %}
      {% if not user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Регистрация</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"href="{% url 'login' %}">Вход</a>
        </li>
      {% endif %}
    </ul>
    
    {% if user.is_authenticated %}
    <ul class="navbar-nav mt-2">
      <li class="nav-item">
        <a class='nav-link text-success' >{{user.first_name}} {{user.last_name}}</a>
      </li>
      <li class="nav-item">
        <a href="{% url 'logout' %}" class="nav-link text-primary">Выход</a>
      </li>

    </ul>
    {% endif %}
  </div>
</nav>